.form__button {
  min-width: 83%;
  min-height: 50.15px;
  margin: 0 36px;
  padding: 0;
  color: white;
  background-color: black;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

.form__button:hover {
  opacity: 0.8;
}
