.modal__close {
  background-image: url(../images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  top: -30px;
  right: -30px;
}

@media screen and (max-width: 510px) {
  .modal__close {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
  }
}
