.modal__close {
  background-image: url(../../../images/add.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  position: absolute;
  transform: rotate(45deg);
  padding: 0;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
}

.modal__close:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 510px) {
  .modal__close {
    width: 26px;
    height: 26px;
    right: 0;
  }
}
