.footer__copyright {
  color: #545454;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 510px) {
  .footer__copyright {
    margin-left: 19px;
  }
}
