.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 0 30px 0 0;
  position: relative;
  z-index: 1;
}

.profile__avatar:hover {
  cursor: pointer;
  opacity: 0.2;
}

@media screen and (max-width: 510px) {
  .profile__avatar {
    margin: 0 auto 30px;
  }
}
