.modal__error-text {
  color: red;
  font-size: 12px;
  line-height: 15px;
  margin: 0 36px;
  display: inline-block;
  position: relative;
  bottom: 25px;
}
.modal__error-text:nth-of-type(2) {
  bottom: 42px;
}
