.form__input-profession {
  min-width: 82%;
  min-height: 27px;
  margin: 0 36px 48px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 510px) {
  .form__input-profession {
    margin: 0 22px 48px;
  }
}
