@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);

.page__container {
  margin: 45px 200px 60px;
}

@media screen and (max-width: 1170px) {
  .page__container {
    margin: 45px 100px 60px;
  }
}

@media screen and (max-width: 935px) {
  .page__container {
    margin: 45px 20px 60px;
  }
}

@media screen and (max-width: 780px) {
  .page__container {
    margin: 45px 100px 60px;
  }
}

@media screen and (max-width: 670px) {
  .page__container {
    margin: 45px 50px 60px;
  }
}

@media screen and (max-width: 580px) {
  .page__container {
    margin: 45px 20px 60px;
  }
}

.header {
  min-height: 74px;
  margin: 0 auto 40px;
  border-bottom: 1px solid #545454;
}

.header__vector {
  background-image: url("../images/header.svg");
  background-repeat: no-repeat;
  min-height: 33px;
}

.profile {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
}

.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  margin: 0 30px 0 0;
}

.profile__info {
  max-width: 415px;
  max-height: 77px;
  align-self: center;
  margin: 0;
}

.profile__info-header {
  display: flex;
  align-items: baseline;
}

.profile__title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 780px) {
  .profile__title {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}

.profile__info-edit {
  background-image: url("../images/edit.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: white 1px solid;
  margin: 0 0 0 18px;
}

.profile__info-edit:hover {
  opacity: 0.8;
}

.profile__add-button {
  background-image: url("../images/add.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  margin-left: auto;
  padding: 0;
  width: 150px;
  min-height: 50px;
  border: white 2px solid;
}

.profile__add-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 780px) {
  .profile__add-button {
    width: 50px;
  }
}

.elements {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 17px;
  margin: 0 0 67px;
}

@media screen and (max-width: 780px) {
  .elements {
    max-width: max-content;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px 17px;
    margin: 0 auto 67px;
  }
}

.elements__item {
  border-radius: 12px;
  overflow: hidden;
  min-height: 361px;
  max-width: 282px;
  background-color: white;
}

.elements__content {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  margin: 25px 18px 0;
}

.elements__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 0;
}

.elements__group {
  background-image: url("../images/group.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  padding: 0;
  min-width: 21px;
  min-height: 19px;
  border: 0;
}

.elements__group:hover {
  opacity: 0.5;
}

.footer__copyright {
  color: #545454;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 510px) {
  .page__container {
    margin: 28px 0 36px;
  }

  .header {
    min-height: 56px;
    margin-bottom: 42px;
  }

  .header__vector {
    margin-left: 27px;
    min-height: 24px;
    max-width: 126px;
    background-size: contain;
  }

  .profile {
    flex-direction: column;
    margin: 0 19px 36px;
  }

  .profile__info {
    margin-bottom: 36px;
  }

  .profile__avatar {
    margin: 0 auto 30px;
  }

  .profile__title {
    margin: 0 auto 14px;
  }

  .profile__subtitle {
    margin: 0 auto 0;
    text-align: center;
  }

  .profile__info-edit {
    width: 18px;
    height: 18px;
    margin: 0 0 0 10px;
  }

  .profile__add-button {
    width: 70%;
    margin: 0 auto 0;
  }

  .elements {
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px;
    padding: 0 19px 0;
  }

  .footer__copyright {
    margin-left: 19px;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    width: 100%;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: black;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_open {
  display: flex;
}

.modal__container {
  background-color: white;
  max-width: 430px;
  height: 330px;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  background-image: url(../images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  top: -30px;
  right: -30px;
}

.modal__title {
  margin: 34px 0 54px 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__input-name {
  min-width: 82%;
  min-height: 27px;
  margin: 0 36px 30px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input-profession {
  min-width: 82%;
  min-height: 27px;
  margin: 0 36px 48px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__button {
  min-width: 83%;
  min-height: 50.15px;
  margin: 0 36px;
  padding: 0;
  color: white;
  background-color: black;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

.form__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 510px) {
  .modal__container {
    max-width: 282px;
    height: 322px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
  }
}
