.elements__group {
  background-image: url("../images/group.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  padding: 0;
  min-width: 21px;
  min-height: 19px;
  border: 0;
}

.elements__group:hover {
  opacity: 0.5;
}
